body{
    min-height: 100vh;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(/images/bg1.jpg); */
    background-image:-webkit-linear-gradient(55deg,#1a6ac5cb 50%, #f7c845 50%);

    background-position:center;
    background-repeat:no-repeat;
    display: flex;
    align-items:center;
    justify-content:center;

    /* adding the blur effect */

}

/* Global Container */
.container{
    width:50%;
    min-height: 20vh;
    margin:auto;
    overflow:hidden;
    /* background-color:rgb(156, 28, 28); */
    background-color:rgba(255, 255, 255, 0.774);

    /* background-color:red; */

    padding:4em;
    color: #333333;;
    /* border-top-left-radius:1px solid #ce0404; */
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-color:#00000077;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    /* border-bottom-color: aquamarine solid; */
    /* transform:translate(50%,50%); */
}


#questionTitle{
    font-size:2rem;
    text-align: center;
}

#answerOptions button{
    color:red;
}
